/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 18, 2022, 10:41:18 AM
    Author     : nldta
*/

.reset_form{
    min-width: 350px;
    max-width: 500px;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    margin-top: 50px;
    border-radius: 50px;
    height: 400px;
    background-color: #F2C2DC;
    padding-top: 10px;
    margin-top:100px;
}
.new_pass{
    border-radius:50px;
    margin-top: 20px;
}